.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a{
    text-decoration: none;
    color: #9eacda;

    &.active{
        color: orange;
    }
}

.logo {
    cursor: pointer;
    background-color: #9eacda;
    border-radius: 12px;

    &:focus{
        outline: none;
    }
}

#nav-bar{
    z-index: 2000;
    opacity: 1;
    background-color: #343a40;
}